[Unit]
Description=Autostart for Energieclash
After=graphical.target

[Service]
Type=simple
Environment="Display=:0"
ExecStart=/home/pi/.config/energieclash_script.sh
Restart=on-failure
RestartSec=10
User=pi

[Install]
WantedBy=graphical.target